<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projetsudoko">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".page_Sudoku">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        </activity>




        <activity android:name=".intmenu"
            android:label="page_Sudoku"
            android:parentActivityName=".page_Sudoku">
            <meta-data
                android:name="andoid.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>

        <activity android:name=".niveau_d"
            android:label="intmenu"
            android:parentActivityName=".intmenu">
           <meta-data
               android:name="andoid.support.PARENT_ACTIVITY"
               android:value="MainActivity" />
        </activity>



        <activity android:name=".MainActivity"
            android:label="niveau_d"
            android:parentActivityName=".niveau_d">
            <meta-data
                android:name="andoid.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>



        <activity android:name=".son"
            android:label="intmenu"
            android:parentActivityName=".intmenu">
            <meta-data
                android:name="andoid.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>

        <activity android:name=".Aide"
            android:label="intmenu"
            android:parentActivityName=".intmenu">
            <meta-data
                android:name="andoid.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity android:name=".Vue_Jeux" />




    </application>

</manifest>